<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=current%></title>

   
    <!-- BOOTSTRAP  -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="css/styles2.css" />
  </head>
  <body>
    <nav
      id="mainNavBar"
      class="navbar navbar-expand-lg navbar-light"
      style="background-color: rgb(219, 219, 219)"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <a
            class="nav-link active dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <%=ind%>  
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a  class="dropdown-item" href="/BSE">BSE</a></li>
            <li><a class="dropdown-item" href="/NSE">NSE</a></li>
          </ul>
        </a>

        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <%=comp%>         
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li>
            <a class="dropdown-item" href="/ASHOKLEY">ASHOKLEY</a>
          </li>
          <li><a class="dropdown-item" href="/CIPLA">CIPLA</a></li>
          <li><a class="dropdown-item" href="/EICHERMOT">EICHERMOT</a></li>
          <li><a class="dropdown-item" href="/RELIANCE">RELIANCE</a></li>
          <li><a class="dropdown-item" href="/TATASTEEL">TATASTEEL</a></li>
        </ul>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Future</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Options</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">More</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <h1> You are seeing <%= current %> company information </h1>
     
      <div class="container-fluid">
        <img class="graphh" src="images/chart.png"  style="text-align: center;" alt="">
      </div>
         
    </div>
    
    
  </body>
</html>